# Copyright 2023 Jimmi Dyson.
# SPDX-License-Identifier: Apache-2.0
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.1
  name: dummies.dummy.example.com
spec:
  group: dummy.example.com
  names:
    kind: Dummy
    listKind: DummyList
    plural: dummies
    singular: dummy
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Dummy is the Schema for the dummies API.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DummySpec defines the desired state of Dummy.
            properties:
              foo:
                description: Foo is an example field of Dummy. Edit dummy_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: DummyStatus defines the observed state of Dummy.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
